.cuisine-hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  margin-block-start: 100px;
  padding-inline: 8px;
  max-width: 1000px;
  margin-inline: auto;
}

.cuisine-hero .img-container {
  place-self: center;
}

.hero-body {
  place-self: center;
}

.hero-body p {
  color: gray;
  font-size: 18px;
}

.hero-body .desc {
  margin-bottom: 1rem;
  max-width: 50ch;
}

@media (max-width: 768px) {
  .cuisine-hero {
    grid-template-columns: 1fr;
    gap: 2rem;
    margin: 40px 0;
  }
}
