.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem 0;
}
h2 {
  color: rgb(44, 43, 43);
}
span {
  color: #0070f3;
}
ul {
  display: flex;
  gap: 3rem;
}
li {
  color: rgb(44, 43, 43);
}

@media (max-width: 768px) {
  h2 {
    font-size: 1.3rem;
  }
  ul {
    gap: 2rem;
  }
}
