.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem 0;
}
.nav-container h2 {
  color: rgb(44, 43, 43);
}
.nav-container span {
  color: #0070f3;
}
.nav-container ul {
  display: flex;
  gap: 3rem;
}
.nav-container li {
  color: rgb(44, 43, 43);
  align-self: center;
}

.nav-container .btn-primary {
  margin: 0;
  /* width: max-content; */
}

.nav-container .profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.nav-container .active {
  color: #0070f3;
}

.nav-container .pending {
  opacity: 0.5;
}

@media (max-width: 768px) {
  .nav-container h2 {
    font-size: 1.3rem;
  }
  .nav-container ul {
    gap: 2rem;
  }
}
